# Porta do Serviço de Pedidos
PORT=3005

# URLs dos serviços dependentes (comunicação via REST/HTTP)
PRODUCT_SERVICE_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3002
INVENTORY_SERVICE_URL=http://localhost:3003
PAYMENT_SERVICE_URL=http://localhost:3004
